/* .team{
    margin: auto;
    height: 120px;
    width: 550px;
} */

.erDiagram{
    margin: auto;
    height: 40px;
    width: 540px;
}

.queries{
    text-align: left;
}

.list-group-item{
    background-color:  
}